## Collecting and analysing data from LinkedIn

In [89]:
from linkedin_api import Linkedin
import pandas as pd  # tabular data
pd.set_option('display.max_columns', None)
from tqdm.auto import tqdm # progress bars
tqdm.pandas()
import json
from pprint import pprint
import time

In [ ]:
secrets = json.load(open("secrets.json"))
api = Linkedin(secrets["username"], secrets["password"])

Sample search: https://www.linkedin.com/search/results/people/?geoUrn=%5B%22105490917%22%5D&origin=FACETED_SEARCH&pastCompany=%5B%221073%22%2C%221038%22%2C%223255299%22%2C%22397575%22%5D&sid=O0Q

KPMG New Zealand: https://www.linkedin.com/company/kpmg-new-zealand/: 1,083 employees, ~2500 past employees  
PwC New Zealand: https://www.linkedin.com/company/pwc-new-zealand/: 1,093 employees, ~1600 past employees  
Deloitte (Worldwide): https://www.linkedin.com/company/deloitte/: 363,547 employees ~1500 in NZ, ~4100 past employees in NZ  
EY (Worldwide): https://www.linkedin.com/company/ernstandyoung/: 319,968 employees, ~1200 in NZ, ~3400 past employees in NZ  

Summative past employees in NZ
~9700

375 people are currently working at one of the 4 and have past worked for one of the 4

In [ ]:
%%time
companies = [
    "3255299", # PwC
    "397575", # KPMG
    "1038", # Deloitte
    "1073" # EY
]
regions = [
    "105490917" # New Zealand
]
people = []
# Get past employees
for company in tqdm(companies):
    people.extend(api.search_people(past_companies=[company], regions=regions))
# Get current employees
for company in tqdm(companies):
    people.extend(api.search_people(current_company=[company], regions=regions))
# Get all past and current PwC and KPMG
for company in tqdm(companies[:2]):
    people.extend(api.search_people(past_companies=[company]))
for company in tqdm(companies[:2]):
    people.extend(api.search_people(current_company=[company]))

  0%|          | 0/4 [00:00<?, ?it/s]

  0%|          | 0/4 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

CPU times: user 1.34 s, sys: 83.5 ms, total: 1.43 s
Wall time: 19min 38s

In [ ]:
pprint(api.get_profile('daniela-dunn-950a45a3'))

{'certifications': [],
 'education': [{'degreeName': 'BCom (Hons)',
                'description': 'Completed courses in computer networks, '
                               'enterprise resource planning systems, '
                               'security, and information systems research.  '
                               'Wrote a dissertation on multicast network cost '
                               'allocation.\n'
                               '\n'
                               'Achieved first class distinction.',
                'entityUrn': 'urn:li:fs_education:(ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo,239453468)',
                'fieldOfStudy': 'Information Systems',
                'school': {'active': True,
                           'entityUrn': 'urn:li:fs_miniSchool:15518',
                           'logoUrl': 'https://media-exp1.licdn.com/dms/image/C560BAQFcif2vOtbppQ/company-logo_',
                           'objectUrn': 'urn:li:school:15518',
                           'schoolName': 'The University of Auckland',
                           'trackingId': '9YNWFrS5R0mOztho7tzx2A=='},
                'schoolName': 'University of Auckland',
                'schoolUrn': 'urn:li:fs_miniSchool:15518',
                'timePeriod': {'endDate': {'year': 2009},
                               'startDate': {'year': 2008}}},
               {'degreeName': 'Conjoint BCom/BSc',
                'entityUrn': 'urn:li:fs_education:(ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo,239454156)',
                'fieldOfStudy': 'Information Systems, Marketing, Computer '
                                'Science',
                'school': {'active': True,
                           'entityUrn': 'urn:li:fs_miniSchool:15518',
                           'logoUrl': 'https://media-exp1.licdn.com/dms/image/C560BAQFcif2vOtbppQ/company-logo_',
                           'objectUrn': 'urn:li:school:15518',
                           'schoolName': 'The University of Auckland',
                           'trackingId': 'itq3mY1gRjKkx+BPvKMqpQ=='},
                'schoolName': 'University of Auckland',
                'schoolUrn': 'urn:li:fs_miniSchool:15518',
                'timePeriod': {'endDate': {'year': 2008},
                               'startDate': {'year': 2004}}}],
 'elt': False,
 'entityUrn': 'urn:li:fs_profile:ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo',
 'experience': [{'company': {'employeeCountRange': {'end': 500, 'start': 201},
                             'industries': ['Health, Wellness and Fitness']},
                 'companyLogoUrl': 'https://media-exp1.licdn.com/dms/image/C4D0BAQHe-V0An_SsVA/company-logo_',
                 'companyName': 'Diabetes UK',
                 'companyUrn': 'urn:li:fs_miniCompany:483655',
                 'entityUrn': 'urn:li:fs_position:(ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo,1032229291)',
                 'geoLocationName': 'London, United Kingdom',
                 'geoUrn': 'urn:li:fs_geo:90009496',
                 'locationName': 'London, United Kingdom',
                 'region': 'urn:li:fs_region:(gb,4573)',
                 'timePeriod': {'endDate': {'month': 9, 'year': 2019},
                                'startDate': {'month': 5, 'year': 2017}},
                 'title': 'Insight Analyst'},
                {'company': {'employeeCountRange': {'end': 5000, 'start': 1001},
                             'industries': ['Management Consulting']},
                 'companyLogoUrl': 'https://media-exp1.licdn.com/dms/image/C4D0BAQGkhUlLEL8LTw/company-logo_',
                 'companyName': 'PwC New Zealand',
                 'companyUrn': 'urn:li:fs_miniCompany:3255299',
                 'description': 'Provided data preparation, analysis, '
                                'visualisation and reporting, for both '
                                'qualitative and quantitative data.',
                 'entityUrn': 'urn:li:fs_position:(ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo,630603774)',
                 'geoLocationName': 'Auckland, New Zealand',
                 'locationName': 'Auckland, New Zealand',
                 'timePeriod': {'endDate': {'month': 12, 'year': 2016},
                                'startDate': {'month': 1, 'year': 2015}},
                 'title': 'Senior Analyst'},
                {'$anti_abuse_metadata': {'/companyName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/companyUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/description': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/entityUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/geoLocationName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/geoUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/locationName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/promotion': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/region': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}},
                                          '/title': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:369857292'}}},
                 'companyName': 'Tuakiri, New Zealand Access Federation',
                 'description': 'Managed instances of Confluence, maintained '
                                'project and technical documentation, '
                                'maintained Shibboleth components.',
                 'entityUrn': 'urn:li:fs_position:(ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo,582190440)',
                 'geoLocationName': 'Auckland, New Zealand',
                 'geoUrn': 'urn:li:fs_geo:100749476',
                 'locationName': 'Auckland, New Zealand',
                 'region': 'urn:li:fs_region:(nz,9194)',
                 'timePeriod': {'endDate': {'month': 12, 'year': 2014},
                                'startDate': {'month': 7, 'year': 2013}},
                 'title': 'Technical Specialist'},
                {'company': {'employeeCountRange': {'end': 5000, 'start': 1001},
                             'industries': ['Higher Education']},
                 'companyLogoUrl': 'https://media-exp1.licdn.com/dms/image/C560BAQFcif2vOtbppQ/company-logo_',
                 'companyName': 'The University of Auckland',
                 'companyUrn': 'urn:li:fs_miniCompany:3691',
                 'description': 'Deployed Shibboleth components for single '
                                'sign-on, managed instances of Confluence and '
                                'maintained project documentation, wrote '
                                'technical documentation, provided user '
                                'support.',
                 'entityUrn': 'urn:li:fs_position:(ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo,582194325)',
                 'geoLocationName': 'Auckland, New Zealand',
                 'geoUrn': 'urn:li:fs_geo:100749476',
                 'locationName': 'Auckland, New Zealand',
                 'region': 'urn:li:fs_region:(nz,9194)',
                 'timePeriod': {'endDate': {'month': 10, 'year': 2011},
                                'startDate': {'month': 5, 'year': 2010}},
                 'title': 'Software Engineer'},
                {'company': {'employeeCountRange': {'end': 5000, 'start': 1001},
                             'industries': ['Higher Education']},
                 'companyLogoUrl': 'https://media-exp1.licdn.com/dms/image/C560BAQFcif2vOtbppQ/company-logo_',
                 'companyName': 'The University of Auckland',
                 'companyUrn': 'urn:li:fs_miniCompany:3691',
                 'description': 'Developed first iteration of an automated '
                                'marking system in Java, that ran unit tests '
                                'on student-written code.',
                 'entityUrn': 'urn:li:fs_position:(ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo,582192629)',
                 'geoLocationName': 'Auckland, New Zealand',
                 'geoUrn': 'urn:li:fs_geo:100749476',
                 'locationName': 'Auckland, New Zealand',
                 'region': 'urn:li:fs_region:(nz,9194)',
                 'timePeriod': {'endDate': {'month': 12, 'year': 2009},
                                'startDate': {'month': 1, 'year': 2009}},
                 'title': 'Research Assistant'}],
 'firstName': 'Daniela',
 'geoCountryName': 'New Zealand',
 'geoCountryUrn': 'urn:li:fs_geo:105490917',
 'geoLocation': {'geoUrn': 'urn:li:fs_geo:105490917'},
 'geoLocationBackfilled': False,
 'headline': 'Data and analytics professional',
 'honors': [],
 'industryName': 'Information Technology & Services',
 'industryUrn': 'urn:li:fs_industry:96',
 'languages': [],
 'lastName': 'Dunn',
 'location': {'basicLocation': {'countryCode': 'nz'}},
 'locationName': 'New Zealand',
 'member_urn': 'urn:li:member:369857292',
 'profile_id': 'ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo',
 'profile_urn': 'urn:li:fs_miniProfile:ACoAABYLkwwBZlmZPuUAK9ZUaloP8tnTfb1tUeo',
 'publications': [],
 'student': False,
 'summary': 'I enjoy exploring data to better understand how things work.  \n'
            '\n'
            'I have experience in working with data across many industries, '
            'including tertiary education, transport, banking, and healthcare.',
 'volunteer': []}

In [ ]:
df = pd.DataFrame(people).drop_duplicates()
df

,urn_id,distance,public_id,tracking_id
0,ACoAAAR370cBo_Bgfx0jX4qvqnKeqTDz4BeY88Y,DISTANCE_2,yen-shih-94713421,74968903
1,ACoAAAL-g0sBdldYgucu1UpPGQa3tuwyEHyOt3k,DISTANCE_2,pieta-brown-8639a614,50234187
2,ACoAACzdI1sBmzepHfdKrNSWAG6eT_DTt1nv6ZM,DISTANCE_2,matt-qiu-5b70a8190,752690011
3,ACoAAAv0TbYBFImKTXlP24EVJnpHZB5cwQHQcC8,DISTANCE_2,nicoleyuelin,200560054
4,ACoAAAHcI9sBTctUWYn90Kxl8V0MZrSqknow5TQ,DISTANCE_2,colinrossburnett,31204315
...,...,...,...,...
9468,ACoAAA0NmdMB3uuf2F_LXRAMeaWNS6mbmKec8FE,DISTANCE_2,michaellovegrove,218995155
9469,ACoAAB2Cz5kB4G_WpIILwIbWm1KXqzSaeoCmjGU,DISTANCE_2,steven-hung-kai-cheung-24998b119,495112089
9470,ACoAAA62h_MBNMMJFK37hevIawy3L5pYr_KAQ0w,DISTANCE_2,niharvasa,246843379
9473,ACoAAA0CvXYBLwGXYW5K1bcCY-gOXkco5cJ9SJk,DISTANCE_2,carriekllo,218283382
9663,ACoAAAMfPmsBsQuGo-lEan-11qpd7FYEjZ-pqkk,DISTANCE_3,kara-sweney-08b66015,52379243

In [ ]:
print(f"To extract all {len(df)} profiles, at a rate of about 1 per second would take around {round(len(df) / 60 / 60, 2)} hours")

To extract all 6992 profiles, at a rate of about 1 per second would take around 1.94 hours

In [ ]:
try:
    profiles = json.load(open("profiles.json"))
except FileNotFoundError:
    profiles = []
print(len(profiles))

7440

In [ ]:
existing_ids = [p["profile_id"] for p in profiles]

In [65]:
new_profiles = df[~df.urn_id.isin(existing_ids)]
new_profiles

,urn_id,distance,public_id,tracking_id
65,ACoAAAuJUoABgm3BKFBC2n_Iy6sjeXwmEWqQcY0,DISTANCE_2,mitchell-parr-59499b54,193548928
136,ACoAACQUZsIBvOCJYsV8Y1qoLaJQ7WyBvsUofx4,DISTANCE_3,sheetalshankar94,605316802
280,ACoAAAialBcBH0Lt_nozSAzO_S527gpxgi27hig,DISTANCE_3,nikki-silvester-9b341240,144348183
365,ACoAAAKSSYIBGfzj7mbq_D0T5irSYDUfBHdl1is,DISTANCE_3,marthajaned,43141506
380,ACoAAAa4LiIBgoFo44EXAYG3EijYhSjLX-g3IC0,DISTANCE_3,jemmapenelopemisjp,112733730
...,...,...,...,...
9276,ACoAAA3WFrUBcoIyy7_rCUDS11yEvGHjDCp1Mgo,DISTANCE_2,williamkimca29,232134325
9281,ACoAAAQ0IXkBLShPKD4juJP3T3IHZBhCzpwr738,DISTANCE_2,weiou,70525305
9470,ACoAAA62h_MBNMMJFK37hevIawy3L5pYr_KAQ0w,DISTANCE_2,niharvasa,246843379
9473,ACoAAA0CvXYBLwGXYW5K1bcCY-gOXkco5cJ9SJk,DISTANCE_2,carriekllo,218283382
9663,ACoAAAMfPmsBsQuGo-lEan-11qpd7FYEjZ-pqkk,DISTANCE_3,kara-sweney-08b66015,52379243

In [66]:
json.dump(people, open("people.json", "w"))

In [69]:
# LinkedIn appear to have hardened their anti-bot protection, making this kind of operation unfeasible
e = None
for public_id in tqdm(new_profiles.public_id):
    try:
        profiles.append(api.get_profile(public_id))
        #time.sleep(10)
    except Exception as e:
        print(e)
        raise

  0%|          | 0/2024 [00:00<?, ?it/s]

Expecting value: line 1 column 1 (char 0)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [70]:
len(profiles)

7791

In [71]:
json.dump(profiles, open("profiles.json", "w"))

In [91]:
# De-duplicate profiles
profile_dict = {}
for p in profiles:
    if "profile_id" in p:
        profile_dict[p["profile_id"]] = p
print(len(profile_dict))

7616

In [101]:
nodes = {}
edges = {}
for r in tqdm(profile_dict.values()):
    for i, e in enumerate(r["experience"]):
        companyName = e.get("companyName")
        if not companyName:
            pprint(e)
            continue
        if companyName not in nodes:
            industry = None
            industries = e.get("company", {}).get("industries")
            if industries:
                industry = industries[0]
            nodes[companyName] = {
                "id": e.get("companyUrn"),
                "name": companyName,
                "geoLocationName": e.get("geoLocationName"),
                "locationName": e.get("locationName"),
                "industry": industry,
                "companyLogoUrl": e.get("companyLogoUrl"),
                "val": 0
            }
        nodes[companyName]["val"] += 1
        if i < (len(r["experience"]) - 1):
            prevCompany = r["experience"][i + 1]
            prevCompanyName = prevCompany.get("companyName")
            if not prevCompanyName:
                pprint(prevCompany)
                continue
            edge_id = prevCompanyName + "_" + companyName
            if edge_id not in edges:
                edges[edge_id] = {
                    "source": prevCompanyName,
                    "target": companyName,
                    "val": 0
                }
            edges[edge_id]["val"] += 1

  0%|          | 0/7616 [00:00<?, ?it/s]

{'$anti_abuse_metadata': {'/companyName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/companyUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/description': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/entityUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/geoLocationName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/geoUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/locationName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/promotion': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/region': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}},
                          '/title': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:347225297'}}},
 'description': 'Empowering Sales Success',
 'entityUrn': 'urn:li:fs_position:(ACoAABSyPNEBR6Kfn3Gwh1TBs5EPg1t90Gel7Lw,545404003)',
 'timePeriod': {'startDate': {'month': 4, 'year': 2014}},
 'title': 'Consultant'}
{'$anti_abuse_metadata': {'/companyName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/companyUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/description': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/entityUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/geoLocationName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/geoUrn': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/locationName': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/promotion': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/region': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}},
                          '/title': {'sourceUrns': {'com.linkedin.common.urn.MemberUrn': 'urn:li:member:90329526'}}},
 'entityUrn': 'urn:li:fs_position:(ACoAAAViUbYBOi3vuaLhoqWSpFYnvyvPKNgHWbo,1836812771)',
 'geoLocationName': 'Auckland, New Zealand',
 'geoUrn': 'urn:li:fs_geo:104251235',
 'locationName': 'Auckland, New Zealand',
 'region': 'urn:li:fs_region:(nz,0)',
 'timePeriod': {'startDate': {'month': 8, 'year': 2021}},
 'title': 'Internal Communications, Change, and Culture: Consultant for Hire'}

In [119]:
node_df = pd.DataFrame(nodes.values()).sort_values(by="val", ascending=False)
pd.set_option('display.max_rows', 100)
node_df.head(20)

,id,name,geoLocationName,locationName,industry,companyLogoUrl,val
1,urn:li:fs_miniCompany:3255299,PwC New Zealand,"Auckland, New Zealand","Auckland, New Zealand",Management Consulting,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,2986
104,urn:li:fs_miniCompany:397575,KPMG New Zealand,"Auckland, New Zealand","Auckland, New Zealand",Management Consulting,https://media-exp1.licdn.com/dms/image/C560BAQ...,2655
176,urn:li:fs_miniCompany:1073,EY,"Auckland, New Zealand","Auckland, New Zealand",Accounting,https://media-exp1.licdn.com/dms/image/C510BAQ...,2457
151,urn:li:fs_miniCompany:1038,Deloitte,"Wellington, Wellington Region, New Zealand","Wellington, Wellington Region, New Zealand",Management Consulting,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1239
38,urn:li:fs_miniCompany:1038,Deloitte New Zealand,"Auckland, New Zealand","Auckland, New Zealand",Management Consulting,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1237
52,None,PwC,"London, England, United Kingdom","London, England, United Kingdom",None,None,470
3,urn:li:fs_miniCompany:3691,The University of Auckland,"Auckland, New Zealand","Auckland, New Zealand",Higher Education,https://media-exp1.licdn.com/dms/image/C560BAQ...,425
54,urn:li:fs_miniCompany:270126,ASB Bank,"Auckland, New Zealand","Auckland, New Zealand",Banking,https://media-exp1.licdn.com/dms/image/C560BAQ...,258
164,urn:li:fs_miniCompany:2437,ANZ,"Auckland, New Zealand","Auckland, New Zealand",Banking,https://media-exp1.licdn.com/dms/image/C560BAQ...,242
732,urn:li:fs_miniCompany:1073,Ernst & Young,None,None,Accounting,https://media-exp1.licdn.com/dms/image/C510BAQ...,225
140,urn:li:fs_miniCompany:3693,Victoria University of Wellington,None,None,Higher Education,https://media-exp1.licdn.com/dms/image/C560BAQ...,220
26,urn:li:fs_miniCompany:7841,Bank of New Zealand,"Auckland, New Zealand","Auckland, New Zealand",Banking,https://media-exp1.licdn.com/dms/image/C560BAQ...,208
29,urn:li:fs_miniCompany:6115,Fonterra,"Auckland, New Zealand","Auckland, New Zealand",Dairy,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,206
1340,urn:li:fs_miniCompany:2525300,KPMG,"Yangon, Myanmar","Yangon, Myanmar",Accounting,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,205
42,None,Air New Zealand,"Auckland, New Zealand","Auckland, New Zealand",None,None,162
121,urn:li:fs_miniCompany:289802,Westpac New Zealand Limited,None,None,Banking,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,135
59,urn:li:fs_miniCompany:2115,Spark New Zealand,"Auckland, New Zealand","Auckland, New Zealand",Telecommunications,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,130
92,urn:li:fs_miniCompany:50780,Xero,"Auckland, New Zealand","Auckland, New Zealand",Computer Software,https://media-exp1.licdn.com/dms/image/C510BAQ...,129
49,urn:li:fs_miniCompany:289802,Westpac New Zealand,"Auckland, New Zealand","Auckland, New Zealand",Banking,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,118
149,urn:li:fs_miniCompany:5450,Datacom,"Auckland, New Zealand","Auckland, New Zealand",Information Technology and Services,https://media-exp1.licdn.com/dms/image/C560BAQ...,107

In [120]:
node_df.industry.value_counts().head(50)

Information Technology and Services    732
Financial Services                     455
Accounting                             369
Management Consulting                  299
Retail                                 213
Computer Software                      210
Nonprofit Organization Management      209
Marketing and Advertising              177
Higher Education                       160
Education Management                   143
Government Administration              134
Hospital & Health Care                 130
Banking                                125
Law Practice                           123
Real Estate                            114
Construction                           110
Food & Beverages                       106
Insurance                               97
Hospitality                             96
Staffing and Recruiting                 95
Internet                                95
Telecommunications                      88
Health, Wellness and Fitness            87
Investment Management                   80
Legal Services                          79
Sports                                  77
Leisure, Travel & Tourism               67
Utilities                               67
Research                                61
Oil & Energy                            59
Automotive                              59
Human Resources                         53
Food Production                         53
Consumer Goods                          53
Design                                  52
Professional Training & Coaching        46
Entertainment                           44
Apparel & Fashion                       43
Environmental Services                  42
Building Materials                      41
Venture Capital & Private Equity        39
Civil Engineering                       37
Transportation/Trucking/Railroad        37
Civic & Social Organization             36
Restaurants                             36
Events Services                         33
Information Services                    31
Logistics and Supply Chain              31
Airlines/Aviation                       30
Facilities Services                     29
Name: industry, dtype: int64

In [121]:
node_df[~pd.isna(node_df.geoLocationName) & ~pd.isna(node_df.locationName) & (node_df.geoLocationName!=node_df.locationName)]

,id,name,geoLocationName,locationName,industry,companyLogoUrl,val
4388,urn:li:fs_miniCompany:1038,Deloitte France,"Région de Paris, France","Paris Area, France",Management Consulting,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,2
4611,urn:li:fs_miniCompany:163134,Coca-Cola FEMSA,"Ciudad de México y alrededores, México","Mexico City Area, Mexico",Food & Beverages,https://media-exp1.licdn.com/dms/image/C560BAQ...,2
7249,urn:li:fs_miniCompany:1508541,P.J. Clarke's,"São Paulo e Região, Brasil","São Paulo Area, Brazil",Restaurants,None,1
7248,None,Conselho Regional de Psicologia (Psychology Re...,"São Paulo e Região, Brasil","São Paulo Area, Brazil",None,None,1
6414,urn:li:fs_miniCompany:396744,The Hunting Dynasty,"Londres, Reino Unido","London, United Kingdom",Market Research,https://media-exp1.licdn.com/dms/image/C510BAQ...,1
8750,urn:li:fs_miniCompany:1734397,Grant Thornton International Ltd,"Bogotá D.C., Colombia","Bogotá D.C. Area, Colombia",Accounting,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1
9590,None,Mattias Jansson dressyrstall,"Lund, Sverige","Lund, Sweden",None,None,1
7687,urn:li:fs_miniCompany:1040979,JD.COM,中国 北京,"Beijing City, China",Internet,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1
8534,None,French Australian Chamber of Commerce & Indust...,"Région de Perth, Australie","Perth, Australia",None,None,1
8533,urn:li:fs_miniCompany:11305,LCL - BEGF,"Région de Aix-En-Provence, France","Aix-En-Provence Area, France",Banking,https://media-exp1.licdn.com/dms/image/C560BAQ...,1
3902,urn:li:fs_miniCompany:268836,Politécnico Grancolombiano,"Bogotá D.C., Colombia","Bogotá D.C. Area, Colombia",Higher Education,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,1
3901,urn:li:fs_miniCompany:137323,Comwave,"Bogotá D.C., Colombia","Bogotá D.C. Area, Colombia",Telecommunications,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1
3900,urn:li:fs_miniCompany:1038,Deloitte España,"Madrid y alrededores, España","Madrid Area, Spain",Management Consulting,https://media-exp1.licdn.com/dms/image/C4E0BAQ...,1
4544,urn:li:fs_miniCompany:801428,EF English First,中国 上海,"Shanghai City, China",Education Management,https://media-exp1.licdn.com/dms/image/C4D0BAQ...,1
4061,None,"Advokátní kancelář JUDr. Sáša Navrátilová, MBA","Okres Brno-město, Česká republika","District Brno-City, Czech Republic",None,None,1

In [122]:
print(f"{sum(node_df.geoLocationName.str.contains('New Zealand', na=False))} companies in NZ out of {len(node_df)}")

4384 companies in NZ out of 9865

In [123]:
edge_df = pd.DataFrame(edges.values()).sort_values(by="val", ascending=False)
edge_df.head(20)

,source,target,val
18,PwC New Zealand,PwC New Zealand,998
437,EY,EY,848
130,KPMG New Zealand,KPMG New Zealand,814
42,Deloitte New Zealand,Deloitte New Zealand,373
418,Deloitte,Deloitte,231
59,PwC,PwC,108
221,PwC,PwC New Zealand,105
268,Deloitte New Zealand,Deloitte,98
356,ANZ,ANZ,72
642,Fonterra,Fonterra,72
76,ASB Bank,ASB Bank,66
60,PwC New Zealand,PwC,62
627,Bank of New Zealand,Bank of New Zealand,62
3,The University of Auckland,The University of Auckland,61
2577,KPMG,KPMG New Zealand,48
182,PwC UK,PwC New Zealand,47
602,Air New Zealand,Air New Zealand,47
114,Xero,Xero,45
94,Spark New Zealand,Spark New Zealand,44
178,Victoria University of Wellington,Victoria University of Wellington,43

In [124]:
len(nodes), len(edges)

(9865, 18128)

In [125]:
network = {
    "nodes": list(nodes.values()),
    "links": list(edges.values())
}
json.dump(network, open("network.json", "w"))

In [126]:
%%time
with pd.ExcelWriter('linkedin.xlsx') as writer:
    node_df.to_excel(writer, sheet_name='Nodes', index=False)
    edge_df.to_excel(writer, sheet_name='Edges', index=False)

CPU times: user 2.04 s, sys: 106 ms, total: 2.14 s
Wall time: 2.14 s